html {
  --color-primary: #2d2d2d;
  --color-secondary: #b38e4b;
  --color-base: #a39e9e;
  --color-accent: #f0a114;
  --color-white: #fdfdfd;
  --color-black: #0f0f0f;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: var(--color-secondary);
}

a:hover,
a:focus,
a:active {
  color: var(--color-accent);
  text-decoration: underline;
}
