.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.footer a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.code {
  padding: 0.75rem;
  background: #fafafa;
  border-radius: 5px;
  font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 300px;
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  margin: 1rem;
  border-radius: 10px;
  color: inherit;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
  color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
