@use 'media-query';

@mixin onlySpStyle {
  @include tb {
    display: none !important;
  }
  @include pc {
    display: none !important;
  }
}

@mixin onlyTbStyle {
  @include sp {
    display: none !important;
  }
  @include pc {
    display: none !important;
  }
}

@mixin onlyPcStyle {
  @include sp {
    display: none !important;
  }
  @include tb {
    display: none !important;
  }
}

@mixin onlyNotSpStyle {
  @include sp {
    display: none !important;
  }
}

@mixin onlyNotPcStyle {
  @include pc {
    display: none !important;
  }
}
